/* resets */
html {
    font-size: 1em;
    font-family: "Helvetica";
    background: #eee;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
h1.title {
    margin-left: 57px;
}
div.logo {
   background: url('img/logo.png') no-repeat center;
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: -1;
    left: -199px;
    top: -79px;
}
/* everything else */
section.main {
    margin: 0 auto;
    margin-top: 79px;
    max-width: 75em;
    min-width: 50em;
    position: relative;
}
section.column {
    float: left;
    border-radius: 4px;
    padding: .625em;
    box-sizing: border-box;
    overflow: hidden;
    background: rgb(38,88,153); /*rgb(200,227,250)*/;
}
.searchResults {
    width: 69%;
    margin-right: .5em;
}
.business-block {
    position: relative;
    float: left;
    width: 100%;
    margin: .625em 0;
    box-sizing: border-box;
    background: white;
    padding: 5px;
}
.business-block h2 {
    width: auto;
    border: none;
    padding: 0;
    font-size: 19px;
    font-weight: normal;
}
.business-block .rating {
    float: right;
}
.business-block .info {
    float: left;
    width: 77%;
    padding: 0 .57em;
}
.business-block .biz-info {
    float: left;
    margin: 32px 0 0;
}
.business-block img.food {
    float: left;
    clear: left;
}
.create-outing {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.outings {
    width: 30%;
}
.outing {
    overflow: hidden;
    border: 1px solid rgb(200,227,250);
    margin: 10px 0;
    border-radius: 4px;
    padding: 5px 5px 5px 0;
    background: white;
    box-sizing: border-box;
    height: 10em;
}
.left-outing-info {
    overflow: hidden;
    width: 70%;
    float: left;
}
.right-outing-info {
    overflow: hidden;
    width: 30%;
    float: left;
    border-left: .063em solid rgb(200,227,250);
    height: 109%;
    box-sizing: border-box;
    padding: .5em;
    margin: -.5em 0; 
}
.outing ul {
    width: 100%;
    float: left;
}
.outing ul li {
    padding: .1em .3em;
    border-bottom: .093em solid rgb(200,227,250);
}
.outing ul li:nth-child(2n+2) {
    background: rgb(200,227,250);
}
.outings h1 {
    color: white;
    font-weight: normal;
    font-size: 1.5em;
}
h2 {
    font-size: .9em;
    width: 100%;
    padding-left: .4em;
    float: left;
    border-bottom: .093em solid rgb(200,227,250);
}
#terms {
    width: 60%;
    padding: .7em;
    border-radius: 0.3em;
    border: .09em solid lightgrey;
    margin-bottom: .67em;
}
button {
    padding: .75em;
    border-radius: .4em;
    border: none;  
    cursor: pointer;
}
.search {
    width: 7.1%;
}
.green {
    background: rgb(44,221,73); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(44,221,73,1) 0%, rgba(0,155,72,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,221,73,1)), color-stop(100%,rgba(0,155,72,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(44,221,73,1) 0%,rgba(0,155,72,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(44,221,73,1) 0%,rgba(0,155,72,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(44,221,73,1) 0%,rgba(0,155,72,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(44,221,73,1) 0%,rgba(0,155,72,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cdd49', endColorstr='#009b48',GradientType=0 ); /* IE6-9 */
    color: white;
}
.blue {
    background: rgb(43,128,219); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(43,128,219,1) 0%, rgba(0,80,150,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(43,128,219,1)), color-stop(100%,rgba(0,80,150,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(43,128,219,1) 0%,rgba(0,80,150,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(43,128,219,1) 0%,rgba(0,80,150,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(43,128,219,1) 0%,rgba(0,80,150,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(43,128,219,1) 0%,rgba(0,80,150,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b80db', endColorstr='#005096',GradientType=0 ); /* IE6-9 */
    color: white;

}
.hide {
    display: none;
}
/* modal */
.modal .modal-header h3 {
    margin: -9px -15px;
    padding: 10px;
    border-radius: 3px 3px 0 0;
}
.modal label {
    display: block;
}
button.close {
    display: none;
}
.modal input {
    padding: 5px;
}
.modal textarea {
    width: 100%;
    height: 100px;
}
.modal input[type="number"]{
    width: 30px;
}
.modal .radioLabel {
    display: inline-block;
}
